node_modules/
release/
.cache/
playwright-report/
test-results/
dist-electron/
*.log
.DS_Store
.env
.env.*
.idea/
.vscode/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.venv/
build/
dist/
__pycache__/
*.spec
